.forgot_container {
  padding: 20px;
  width: auto;
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot_container > h1 {
  margin-bottom: 0;
}

.forgot_input_container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 727px) {
  .forgot_container {
    min-width: 70%;
  }
}
